* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.closekol {
	position: absolute;
	width: 1024px;
	height: 600px;
	display: none;
	z-index: 9999;
}

video{
	position: absolute;
	z-index: 10;
	background: white;
	display: none;
}

.kol  {
  position: absolute;
  left: 401px;
  top: 448px;
  width: 223px;
  height: 188px;
  animation: pulse 1s infinite;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 3;
}