* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;

	z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 71px;
  top: 198px;
  width: 285px;
  height: 234px;
  animation: zoomIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_3 {
  position: absolute;
  left: 368px;
  top: 198px;
  width: 285px;
  height: 236px;
  animation: zoomIn 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_4 {
  position: absolute;
  left: 666px;
  top: 198px;
  width: 284px;
  height: 234px;
  animation: zoomIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 4;
}