* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 53px;
  top: 472px;
  width: 390px;
  height: 84px;
  animation: fadeInLeft 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 581px;
  top: 472px;
  width: 390px;
  height: 84px;
  animation: fadeInRight 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_4 {
  position: absolute;
  left: 41px;
  top: 577px;
  width: 402px;
  height: 71px;
  animation: fadeInLeft 0.7s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_5 {
  position: absolute;
  left: 581px;
  top: 578px;
  width: 402px;
  height: 71px;
  animation: fadeInRight 0.7s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_6 {
  position: absolute;
  left: 383px;
  top: 333px;
  width: 269px;
  height: 82px;
  animation: fadeInDown 0.7s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_7 {
  position: absolute;
  left: 385px;
  top: 402px;
  width: 266px;
  height: 268px;
  animation: stampIn 0.3s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 5;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}