*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2_wrap {
	position: absolute;
  left: 284px;
  top: 73px;
  width: 456px;
  height: 627px;
	z-index: 7;
}

.bounceOut {
	animation: bounceOut 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.s1_2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 456px;
  height: 627px;
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.fadeInUp {
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
}

.slideOutDown {
	animation: slideOutDown 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
}

.s1_3 {
	position: absolute;
  left: 334px;
  top: 217px;
  width: 300px;
  height: 346px;
  display: none;
	z-index: 10;
}

.s1_4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	animation: fadeIn 0.1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 15;
}

.s1_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	animation: fadeIn 0.1s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 20;
}

.fadeOut {
	animation: fadeOut 0.1s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.s1_6 {
	position: absolute;
  left: 132px;
  top: 344px;
  width: 164px;
  height: 34px;
	display: none;
	z-index: 25;
}

.s1_7 {
	position: absolute;
  left: 788px;
  top: 377px;
  width: 183px;
  height: 38px;
	display: none;
	z-index: 25;
}

.s1_8 {
	position: absolute;
  left: 587px;
  top: 617px;
  width: 149px;
  height: 47px;
	display: none;
	z-index: 25;
}

.s1_13 {
	position: absolute;
  left: 0px;
  top: 31px;
  width: 661px;
  height: 694px;
	animation: fadeIn 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 62;
}

.s1_14 {
	position: absolute;
  left: 581px;
  top: 92px;
  width: 284px;
  height: 414px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 64;
}

.s1_15 {
	position: absolute;
  left: 469px;
  top: 526px;
  width: 486px;
  height: 153px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 66;
}

.s1_16 {
	position: absolute;
  left: 0px;
  top: 742px;
  width: 1024px;
  height: 26px;
	z-index: 70;
}



.hit_1, .hit_2, .hit_3, .hit_4  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 40;
}

.hit_pop1 {
	position: absolute;
  left: 30px;
  top: 301px;
  width: 285px;
  height: 149px;
  display: none;
	z-index: 30;
}

.hit_pop2 {
	position: absolute;
  left: 716px;
  top: 303px;
  width: 285px;
  height: 149px;
  display: none;
	z-index: 30;
}

.hit_pop3 {
	position: absolute;
  left: 523px;
  top: 573px;
  width: 285px;
  height: 149px;
  display: none;
	z-index: 30;
}

.hit_pop4 {
	position: absolute;
  left: 335px;
  top: 209px;
  width: 297px;
  height: 345px;
  display: none;
	z-index: 30;
}

.hit_close1, .hit_close2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 50;
}


#text {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: -1;
}


@keyframes moveUp1 {
  0% {
  left: 0px;
  top: 0px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }

  100% {
  left: 0px;
  top: -252px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }
}


@keyframes moveUp2 {
  0% {
  left: 0px;
  top: 0px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }

  100% {
  left: 0px;
  top: -252px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }
}

@keyframes moveUp3 {
  0% {
  left: 0px;
  top: 0px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }

  100% {
  left: 0px;
  top: -252px;
  width: 93px;
  height: 520px;
  opacity: 1;
  }
}


@keyframes openLock {
  0% {
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
  transform: rotate3d(0, 0, 1, 60deg);
  opacity: 1;
  }
}