* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
}

.s1_pop1 {
	position: absolute;
	left: 105px;
	top: 274px;
	width: 140px;
	height: 240px;
	z-index: 3;
}

.s1_pop2 {
	position: absolute;
	left: 247px;
	top: 274px;
	width: 150px;
	height: 240px;
	z-index: 3;
}

.s1_pop3 {
	position: absolute;
	left: 400px;
	top: 274px;
	width: 130px;
	height: 250px;
	z-index: 3;
}

.s1_pop4 {
	position: absolute;
	left: 533px;
	top: 274px;
	width: 115px;
	height: 250px;
	z-index: 3;
}

.s1_pop5 {
	position: absolute;
	left: 650px;
	top: 274px;
	width: 110px;
	height: 250px;
	z-index: 3;
}

.s1_pop6 {
	position: absolute;
	left: 762px;
	top: 274px;
	width: 140px;
	height: 250px;
	z-index: 3;
}

.s4_pop1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 3;
}

.s5_pop1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 3;
}

.s6_pop1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 3;
}

.s7_pop1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 3;
}