* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_1, .s3_2, .s3_3, .s3_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.s3_pop1 {
	position: absolute;
  left: 76px;
  top: 463px;
  width: 207px;
  height: 60px;
	z-index: 10;
}

.s3_pop2 {
	position: absolute;
  left: 363px;
  top: 463px;
  width: 207px;
  height: 60px;
	z-index: 10;
}

.s3_pop3 {
	position: absolute;
  left: 624px;
  top: 463px;
  width: 361px;
  height: 157px;
	z-index: 10;
}

.s3_pop4 {
	position: absolute;
  left: 36px;
  top: 674px;
  width: 868px;
  height: 60px;
	z-index: 10;
}

.s3_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}